{
    "id":"WSU_restoration",
    "description":"Resilient Restoration Application",
    "creator":"WSU",
    "inputs":[],
    "outputs":[],
    "options": ["(simulationId)","'(request)'"],
    "type":"PYTHON",
    "execution_path": "python /usr/src/gridappsd-restoration/Restoration/main.py",
    "launch_on_startup":false,
    "prereqs":["gridappsd-voltage-violation","gridappsd-alarms"],
    "multiple_instances":true
}
